---
import ContactMe from "../components/ContactMe.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import SocialLinks from "../components/SocialLinks.astro";

// Static Images
import jsollyImage from "../images/jsolly.webp";
---

<Layout
    title="About John Solly"
    description="John Solly is a Senior Geospatial Software Engineer with over a decade of experience in the geospatial industry. Making apps with maps and data."
>
    <div
        class="about-section bg-subtle-dark-overlay-lvl-2 text-text rounded-lg shadow-lg p-6 mx-auto"
    >
        <div class="profile flex flex-col md:flex-row items-center">
            <Image
                src={jsollyImage}
                alt="John Solly Profile Picture"
                class="rounded-full mb-4 md:mb-0 md:mr-6 w-48"
                loading="eager"
            />
            <div>
                <h1
                    class="text-2xl font-bold text-text leading-none tracking-tight"
                >
                    John Solly
                </h1>
                <p class="text-text leading-relaxed tracking-wide">
                    Senior Software Engineer, Geospatial Developer
                </p>
                <div class="social-links flex mt-3">
                    <SocialLinks />
                </div>
            </div>
        </div>
        <div class="about-content mt-4 text-xl">
            <p>
                With over a decade of experience in the geospatial industry, I
                specialize in developing and scaling geospatial applications
                that transform complex data into actionable insights. As a
                Software Engineer at HazardHub (A Guidewire Offering), I work on
                infrastructure and application development, focusing on
                integrating geospatial data and risk analytics into scalable,
                cloud-native solutions. I am passionate about creating resilient
                and maintainable systems that deliver high-performance API
                services to customers. Check out my
                <a href="/showcase">showcase</a> to see my latest work!
            </p>
        </div>
    </div>
    <ContactMe />
</Layout>
