---

---

<div
  class="prose dark:prose-invert
         prose-headings:text-text-primary
         prose-p:text-text-secondary
         prose-headings:mt-2 prose-headings:mb-2
         prose-h1:mt-0"
>
  <slot />
</div>