---
---

<section
    class="about-summary-card rounded-lg bg-subtle-dark-overlay-lvl-2 p-6 text-left shadow-lg"
>
    <h2 class="text-2xl font-bold tracking-tight text-text">About</h2>
    <div class="mt-4 text-lg text-text">
        <p>
            With over a decade of experience in the geospatial industry, I
            specialize in developing and scaling geospatial applications that
            transform complex data into actionable insights. As a Software
            Engineer at HazardHub, I focus on integrating geospatial data and
            risk analytics into scalable, cloud-native solutions. I am
            passionate about creating resilient and maintainable systems that
            deliver high-performance API services.
        </p>
    </div>
    <div class="mt-6 text-center">
        <a
            href="/about"
            class="inline-block rounded-lg bg-accent px-5 py-3 text-lg font-medium text-white transition hover:bg-accent-dark focus:outline-none focus:ring-2 focus:ring-accent-light"
        >
            Read Full Bio
        </a>
    </div>
</section> 