---
import type { ImageMetadata } from "astro";
import { getCollection } from "astro:content";
import type { Logo } from "../../types";
import ProjectCard from "../projects/ProjectCard.astro";

const allProjects = await getCollection("projects");
---

<nav>
    <ul class="projects-list flex flex-col gap-6">
        {
            allProjects.reverse().map(async (project, index) => {
                const { remarkPluginFrontmatter } = await project.render();
                // eagerly load the first image (above the fold)
                const loading = index === 0 ? "eager" : undefined;
                return (
                    <ProjectCard
                        title={project.data.title as string}
                        href={`/projects/${project.slug}/`}
                        readingTime={remarkPluginFrontmatter.minutesRead as string}
                        metaimg={project.data.metaimg as ImageMetadata}
                        metaimgAlt={project.data.metaimgAlt as string}
                        imgLoading={loading}
                        snippet={project.data.snippet as string}
                        logos={project.data.logos as Logo[] | undefined}
                    />
                );
            })
        }
    </ul>
</nav>
